h2 {text-align: center; color: #06c9df;text-align: center;}
p {text-align: left;text-align: right;color: blueviolet;text-decoration: solid;}
img {tab-size: 50cm;position:relative;size: 30cm;}
body {background-color: brown;}